In [291]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_df = school_data_complete

In [292]:
#complete_df.describe()
# Find total number of unique school_names
tot_schools = complete_df["school_name"].nunique()
tot_students = complete_df["student_name"].count()
tot_budget = (sum(complete_df["budget"].unique())).astype(float)
avg_math = complete_df["math_score"].mean()
avg_reading = complete_df["reading_score"].mean()
pass_check_math = complete_df["math_score"] > 69
pass_math = (sum(pass_check_math)/tot_students)*100
pass_check_reading = complete_df["reading_score"] > 69
pass_reading = (sum(pass_check_reading)/tot_students)*100
pass_check_over = (complete_df["math_score"] > 69) & (complete_df["reading_score"] > 69)
pass_over = (sum(pass_check_over)/tot_students)*100
dist_summary_df = pd.DataFrame({"Total Schools": tot_schools,
                           "Total Students": tot_students,
                           "Total Budget": tot_budget,
                           "Average Math Score": avg_math,
                           "Average Reading Score": avg_reading,
                           "% Passing Math": pass_math,
                           "% Passing Reading": pass_reading,
                           "% Overall Passing": pass_over
                          }, index=[0])
dist_summary_df.head()
#summary_df.head().style.format("{:,.0f}")
dist_summary_df.head().style.format({"Total Students": "{:,.0f}", "Total Budget": "${:,.0f}"})

In [362]:
# Clean the original dataframe into schools_reduced
complete2_df = complete_df.rename(columns={"school_name": "School Name", "type": "School Type", "budget": "Budget"})
schools_reduced_df = complete2_df[["Student ID", "School Name", "reading_score", "math_score", "School Type", "Budget"]].drop_duplicates(subset='School Name', keep="first")
# sort school budgets
schools_sorted_df = schools_reduced_df.sort_values("Budget", ascending=False)
schools_sorted_df.head(15)

,Student ID,School Name,reading_score,math_score,School Type,Budget
17871,17871,Bailey High School,75,59,District,3124928
30035,30035,Johnson High School,87,87,District,3094650
7627,7627,Hernandez High School,70,88,District,3022020
26036,26036,Rodriguez High School,74,81,District,2547363
0,0,Huang High School,66,79,District,1910635
2917,2917,Figueroa High School,85,87,District,1884411
34796,34796,Ford High School,66,94,District,1763916
13730,13730,Wilson High School,84,71,Charter,1319574
16013,16013,Cabrera High School,94,94,Charter,1081356
5866,5866,Shelton High School,70,91,Charter,1056600
24236,24236,Wright High School,89,72,Charter,1049400
37535,37535,Thomas High School,76,76,Charter,1043130
12262,12262,Griffin High School,79,68,Charter,917500
23274,23274,Pena High School,91,75,Charter,585858
22847,22847,Holden High School,86,92,Charter,248087

In [367]:
# schools_df = schools_reduced_df.drop_duplicates(subset='School Name', keep="first")
# schools_df
school_names = schools_sorted_df["School Name"]
# print(school_name)
school_type = schools_sorted_df["School Type"]
# print(school_type)
school_tot_students = complete2_df["School Name"].value_counts()
# print(school_tot_students)
school_tot_budget = schools_sorted_df["Budget"].unique()
# print(school_tot_budget)

In [368]:
student_budget = school_tot_budget/school_tot_students
# print(student_budget)

Bailey High School      628.00
Johnson High School     650.00
Hernandez High School   652.00
Rodriguez High School   637.00
Figueroa High School    647.89
Huang High School       646.01
Ford High School        644.00
Wilson High School      578.00
Cabrera High School     582.00
Wright High School      587.00
Shelton High School     595.91
Thomas High School      638.00
Griffin High School     625.00
Pena High School        609.00
Holden High School      581.00
Name: School Name, dtype: float64

In [ ]:
# grouped_schools_df = schools_reduced_df.groupby(["math_score"])
# print(grouped_schools_df)
# grouped_schools_df.head(10)
# school_avg_math = grouped_schools_df["math_score"].mean()
# print(school_avg_math)
#avg_reading = complete_df["reading_score"].mean()
#pass_check_math = complete_df["math_score"] > 69
#pass_math = (sum(pass_check_math)/tot_students)*100
#pass_check_reading = complete_df["reading_score"] > 69
#pass_reading = (sum(pass_check_reading)/tot_students)*100
#pass_check_over = (complete_df["math_score"] > 69) & (complete_df["reading_score"] > 69)
#pass_over = (sum(pass_check_over)/tot_students)*100

In [373]:
school_summary_df = pd.DataFrame({"Total Schools": school_names,
                                  "School Type": school_type,
                                  "Total Students": school_tot_students,
                                  "Budget": school_tot_budget
                          }, index=[0])
school_summary_df.head(15)

ValueError: Length of values (15) does not match length of index (1)